//- body.jade
//- This file provides the HTML body part.


body(style='background-color: #FFFFFF;')
	
	.container.jumbotron(style='background-color: #C00;color: white;margin-bottom: 0px;	')
		a(href='/' style='color: white;')
			h1(style='text-align:center;') Student Library Assistant 
		h2(style='text-align:center;') NCSU Wolves
	.container(style='background-color: #C00;color: white;margin-bottom: 0px;	')
		.col-sm-12
			hr
	.container(style='background-color: #C00;color: white;margin-bottom: 0px;	')
		.col-sm-6
			h2
				a#lnkUpdateBecon(href='/UpdateNode' style='color: white;') Update Beacon Data
		.col-sm-6(style='text-align: right;')
			h2
				a#lnkUpdateBecon(href='/dashboard' style='color: white;') Dashboard
	.container(style='background-color: #C00;color: white;margin-bottom: 0px;	')
		.col-sm-12
			hr
	.container(style='background-color: black;color: white;')
		img(src='/images/profile/group.PNG' style='height: 500px; max-width: 1140px;')
		
	.container(style='background-color: black;color: white;')
		.col-sm-3
			img(src='/images/profile/chetan.PNG' style='width: 300px; height: 350px; background-color: #c00;')
			figcaption(style='text-align: center') Chetan Pawar
		.col-sm-3
			img(src='/images/profile/siddhant.PNG' style='width: 300px; height: 350px; background-color: #c00;')
			figcaption(style='text-align: center') Siddhant Oza
		.col-sm-3
			img(src='/images/profile/dharin.PNG' style='width: 300px; height: 350px; background-color: #c00;')
			figcaption(style='text-align: center') Dharin Upadhyay
		.col-sm-3
			img(src='/images/profile/vrushti.PNG' style='width: 300px; height: 350px; background-color: #c00;')
			figcaption(style='text-align: center') Vrushti Shah
		br 
		
	.container(style='background-color: black;color: white;')
		h1 
		.col-sm-5
		.col-sm-2
			img(src='/images/profile/mihir.PNG' style='width: 300px; height: 350px; background-color: #c00;')
			figcaption(style='text-align: center') Mentor: Mihir Shah
				
