//- head.jade
//- This file provides the HTML head part

head
  title SLA - Home
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  link(rel="stylesheet", href="/stylesheets/style.css")
  script(src='/javascripts/common.js')
  script(type="text/javascript",  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(type="text/javascript",  src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")
  script(type="text/javascript", src="https://jqueryrotate.googlecode.com/svn/trunk/jQueryRotate.js")

  script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")